.locations, .amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    margin-left: auto;
    box-sizing: border-box;

}

.amenities {
   border-right: none;
    
}

h3 {
    font-weight: 600;
    margin-bottom: 1px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px  solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

section.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-right: 30px;
    opacity: 1;   
}

.popover {
    color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    visibility: hidden;
    width: 100%;
    display: block;
}

.popover li {
    padding: 0;
    margin: 0;
}

.locations:hover .popover {
    display: block;
    visibility: visible;
}

.amenities:hover .popover{
    display: block;
    visibility: visible;
}

li {
    list-style: none;
}

h2 li {
    font-size: 16px;
    list-style: none;
}